<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Working</title>
</head>
<body>
<h1> Please enter text to  Remove Punctuation it</h1>
<form action="/analyze" method="get">
    <textarea name='textarea' style='margin: 2px; width: 1412px; height: 186px;'></textarea>
    <br>
    <input type="checkbox" name="removepunc"> Remove Punctuation<br>
    <input type="checkbox" name="fullcaps">UPPER CASE<br>
    <input type="checkbox" name="newlineremover">New Line Remover<br>
    <input type="checkbox" name="spaceremover">Space Remover<br>
    <input type="checkbox" name="charcount">Character Count<br>

    <button type="submit">Analyze Text</button>
</form>
</body>
</html>